<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="col-12">
        <div class="col-6 offset-3 ">
            <div class="mt-30">
                <p class="headr center fs-150 bold">
                    <img src="img/electo.png">
                </p>
            </div>
            <div>
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#pills-home"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Vote</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pills-profile"
                            type="button" role="tab" aria-controls="profile-tab-pane"
                            aria-selected="false">Result</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#pills-contact"
                            type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Create
                            Election</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="mt-30">
                            <p>You can vote your favourite candidate here. All you have to do is enter the "election
                                link".</p>
                            <div class="col-12">
                                <div>
                                    <form class="row">
                                        <div class="col-auto width-50">
                                            <input class="form-control election-link" type="text"
                                                placeholder="Paste your link here" aria-label="default input example">
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-secondary load-election-before" type="submit"
                                                onclick="return false">Load candidates</button>
                                            <button class="btn btn-primary load-election-after hidden" type="button"
                                                disabled>
                                                <span class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                                loading...
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="mt-30">
                                    <div class="row bvn-ask-div hidden">
                                        <p class="bold fs-80">Your BVN and name are needed before voting to ensure a free and fair election.</p>
                                        <div class="col-6">
                                            <input class="form-control bvn" type="text"
                                                placeholder="Bank Verification Number"
                                                aria-label="default input example">
                                        </div>
                                        <div class="col-6">
                                            <input class="form-control bvn-owner" type="text"
                                                placeholder="Name of BVN owner" aria-label="default input example">
                                        </div>
                                    </div>
                                    <p class="bold fs-90 mt-30 elect-name-1"></p>
                                    <p class="small bold candid8 hidden">Candidates</p>
                                    <div class="row candidates-row-1 g-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0">
                        <div class="mt-30">
                            <div>
                            <p>You can check the election results here.<br>
                                Whether it's ongoing or it has ended, it is always available to you in the most transparent fashion.</p>
                                <form class="row">
                                    <div class="col-auto width-50">
                                        <input class="form-control election-link-1" type="text"
                                            placeholder="Paste your link here" aria-label="default input example">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary load-election-before-1" type="submit"
                                            onclick="return false">Load election
                                            result</button>
                                        <button class="btn btn-primary load-election-after-1 hidden" type="button"
                                            disabled>
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            loading...
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <p class="elect-name-2 mt-30 bold mt-30"></span>
                            <p class="elect-res bold hidden"><code>Total Votes</code>: <span class="ttl-votes">0</span></p>
                            <div class="bold hidden stats">Statistics:</div>
                            <div class="row mt-30 votes-slider p-10 pt-0"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                        tabindex="0">
                        <div class="mt-30">
                            <div class="alert alert-success creation-success hidden fs-80" role="alert">
                            </div>
                            <p>Create a free and fair election poll. This election is virtually impossible to
                                manipulate.<br> Welcome to the future!</p>
                            <div>
                                <form>
                                    <label for="formFileMultiple" class="form-label">Name of election</label>
                                    <input class="form-control election-name" type="tsxt" placeholder="Titan Presidential Election">

                                    <label for="formFileMultiple" class="form-label pt-10">Hours the election stays on</label>
                                    <input class="form-control election-epoch" type="number" value="8">
                                </form>
                                <div class="mt-30">
                                    <p class="bold">Candidates Section</p>

                                    <div class="right">
                                        <button type="button" class="btn btn-primary add-candidate">+ add new
                                            candidate</button>
                                    </div>
                                    <div class="candidates-coll">
                                        <div class="mt-30 border p-10 rad-10">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="formFileMultiple" class="form-label">Candidates
                                                        Name</label>
                                                    <input class="form-control election-link candidate-name" type="text"
                                                        placeholder="Woodfish" aria-label="default input example">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="formFileMultiple" class="form-label">Candidates
                                                        Political
                                                        party</label>
                                                    <input class="form-control election-link political-party"
                                                        type="text" data-party="1" placeholder="Misfit Xtra Party"
                                                        aria-label="default input example">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-grid gap-2 mt-30 mb-30">
                                    <button class="btn btn-primary kick-off-before" type="button">Kick off
                                        election</button>
                                    <button class="btn btn-primary kick-off-after hidden" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        setting up...
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- toast  -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <span class="mr-10 fs-150"></span>
                <strong class="me-auto">Elect '0' Rate</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>